body {
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column; 
    
}
h1 {
    font-size: 2em;
    color: white;
    background: linear-gradient(-180deg, #7FC7B9, #FFA852);
    font-family: "quick";

}
main {
    flex: 1 0 auto;
}
#gifs {
    background-color: #7FC7B9;
    color: white;
}
#card-body, #left-data, #right-data, #history-data { 
    background-color: white;
    color: #7FC7B9;
    overflow-y: scroll;
    height: 200px;
    padding: 5%;
}
#history {
    background-color: #7FC7B9;
    color: white;
}
#space-between {
    line-height: 2em;
}
#left-card {
    background-color: #7FC7B9;
    color: white;
    height: 300px;
    
}
#right-card {
    background-color: #7FC7B9;
    color: white;
    height: 300px;
}
#footer {
    background: linear-gradient(-180deg, white, #FFA852);
}

@font-face {
    font-family: "quick";
    src: url('../fonts/Quicksand-BoldItalic.otf') format('opentype');
}

h5, #search-button {
    font-family: "quick";

}

@font-face {
    font-family: "geo";
    src: url('../fonts/geometria-light-webfont.woff') format('woff');

}



#input-field, #history-data, #left-data, #right-data{
    font-family: "geo";

}

#search-button:hover {
    background:#FFA852;
    opacity:.3;
}

